
<div
  class="w-60 relative max-w-xs bg-white xl:transition-all xl:duration-150 border xl:hover:scale-103 border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 group/card"
>
  <div class="overflow-hidden block">
    @if(status == 'Top'){
    <div
      class="text-white absolute bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 font-medium rounded-lg text-xs px-3 py-1.5 text-center top-1 left-1"
    >
      Top
    </div>
    } @if(status === 'sale'){
    <div
      *ngIf="status === 'sale'"
      class="text-white absolute bg-gradient-to-r from-red-400 via-red-500 to-red-600 font-medium rounded-lg text-xs px-3 py-1.5 text-center top-1 left-1"
    >
      -50%
    </div>
    }

    <img
      class="rounded-t-lg w-full h-40 object-scale-down"
      [src]="product?.imageCover"
      alt="product image"
    />

    <div
      class="w-[95%] translate-y-[-30%] xl:translate-y-13 text-center xl:group-hover/card:translate-y-[-50%] xl:transition-all xl:duration-200 xl:delay-150"
    >
      <app-button title="Add to Cart" [product_id]="product?._id"></app-button>
    </div>
  </div>

  <div class="px-2 pb-5">
    <div class="flex items-center mt-2 mb-1">
      <div class="flex items-center space-x-1 rtl:space-x-reverse">
        <svg
          class="w-4 h-4 text-black"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          />
        </svg>
        <svg
          class="w-4 h-4 text-black"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          />
        </svg>
        <svg
          class="w-4 h-4 text-black"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          />
        </svg>
        <svg
          class="w-4 h-4 text-black"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          />
        </svg>
        <svg
          class="w-4 h-4 text-black"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          />
        </svg>
      </div>
      <span
        class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded-sm dark:bg-blue-200 dark:text-blue-800 ms-3"
      >
        {{ product?.ratingsAverage }}
      </span>
    </div>

    <h5
      class="text-base font-semibold tracking-tight text-blue-500 dark:text-white"
    >
      {{ product?.category?.name }}
    </h5>

    <p
      class="text-base font-semibold tracking-tight text-gray-900 dark:text-white line-clamp-1 mt-2 mb-2"
    >
      {{ product?.title?.split(" ", 3)?.join(" ") }}
    </p>

    <div class="flex items-center justify-between">
      <span class="text-base font-bold text-gray-900 dark:text-white"
        >{{ product?.price }} EGP</span
      >
      <app-link
        [content]="'Details'"
        [slug]="product.slug"
        [id]="product._id"
      ></app-link>
    </div>
  </div>

 
  <div
    (click)="toggleWish(product?._id, $event)"
    [ngClass]="{
      'text-blue-500': wishlistProducts.includes(product._id),
      'text-black': !wishlistProducts.includes(product._id)
    }"
    class="text-[20px] cursor-pointer absolute top-2 left-[85%]"
  >
    <i class="fa-solid fa-heart"></i>
  </div>
</div>
