<section class="w-[95%] md:w-[90%] mt-10 mx-auto pt-[52px]">
  <div
    class="flex flex-col lg:flex-row items-center bg-white  border-gray-200 rounded-lg  w-full dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
    <!-- CONTENT -->
    <div
      class="flex flex-col justify-between order-2 lg:order-1 p-6 "
    >
      <h5
        class="mb-4 text-center lg:text-left lg:mb-10 text-lg sm:text-3xl md:text-4xl lg:text-5xl font-semibold tracking-tight text-gray-900 dark:text-white"
      >
        Our Story
      </h5>

      <p
        class="mb-4 text-justify text-sm sm:text-base font-normal text-gray-700 dark:text-gray-400"
      >
       One Stop was created with one simple vision: to make online shopping easier and more enjoyable. Instead of wasting time across countless websites, we bring everything together in one trusted place – from fashion and beauty to electronics and home essentials.

We carefully select our products from reliable brands to ensure quality and authenticity. For us, it’s not just about selling, it’s about building a smooth and trusted shopping experience.

Our story is still growing, and we’re here to make every step of your shopping journey simple, safe, and inspiring.     </p>

    </div>
    <!-- IMAGE -->
    <img
      class="object-scale-down w-full lg:w-1/2 h-60 md:h-100 rounded-lg order-1 lg:order-2"
      src="./imgs/portrait-two-african-females-holding-shopping-bags-while-reacting-something-their-smartphone 1.png"
      alt="Sale Banner"
    />

  </div>
</section>

<section class="w-[95%] md:w-[90%] mx-auto py-5 mb-15 mt-10">
  <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-4 lg:px-20">
    <div
      class="p-8 text-black text-center rounded-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <i class="fa-solid fa-truck-fast text-4xl mb-2 "></i>
      <h5 class="mb-1 text-2xl font-semibold tracking-tight dark:text-white">
        Free Shipping
      </h5>

      <p class="font-normal text-gray-500 dark:text-gray-400">
        order above $200
      </p>
    </div>
    <div
      class="p-8 text-black text-center rounded-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <i class="fa-solid fa-money-bill text-4xl mb-2 "></i>
      <h5 class="mb-1 text-2xl font-semibold tracking-tight dark:text-white">
        Mony-Back
      </h5>

      <p class="font-normal text-gray-500 dark:text-gray-400">
        30 Days guarantee
      </p>
    </div>
    <div
      class="p-8 text-black text-center  rounded-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <i class="fa-solid fa-lock text-4xl mb-2"></i>
      <h5 class="mb-1 text-2xl font-semibold tracking-tight dark:text-white">
        Secure Payment
      </h5>

      <p class="font-normal text-gray-500 dark:text-gray-400">
        secured by stripe
      </p>
    </div>
    <div
      class="p-8 text-black text-center  rounded-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <i class="fa-solid fa-phone text-4xl mb-2"></i>
      <h5 class="mb-1 text-2xl font-semibold tracking-tight dark:text-white">
        24/7 Support
      </h5>

      <p class="font-normal text-gray-500 dark:text-gray-400">
        Phone and Email support
      </p>
    </div>
  </div>
</section>
