<footer class="bg-black text-white dark:bg-gray-900">
  <div class="mx-auto w-[95%] md:w-[90%] p-4 py-8 lg:py-8">
    <div class="">
      <div class="mb-6 md:mb-0"></div>
      <div
        class="grid grid-cols-1 gap-2 sm:gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5"
      >
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-white-900 uppercase dark:text-white"
          >
            support
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              OneStop – From Fashion to Essentials,We’ve Got You
            </li>
            <li class="mb-4">
              <a href="mailto:elkholydina329@gmail.com" class="hover:underline">
                OneStop@gmail.com
              </a>
            </li>
            <li>
              <a href="tel:01025298251" class="hover:underline"> +88015-88888-9999 </a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-white-900 uppercase dark:text-white"
          >
            Account
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a routerLink="/login" class="hover:underline">login/register</a>
            </li>
            <li class="mb-4">
              <a routerLink="/cart" class="hover:underline">cart</a>
            </li>
            <li class="mb-4">
              <a routerLink="/wish-list" class="hover:underline">wish list</a>
            </li>
            <li class="mb-4">
              <a routerLink="/shop" class="hover:underline">shop</a>
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-white-900 uppercase dark:text-white"
          >
            Quick Links
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a routerLink="/home" class="hover:underline">Privacy Policy</a>
            </li>
            <li class="mb-4">
              <a routerLink="/home" class="hover:underline"> Terms of use</a>
            </li>
            <li class="mb-4">
              <a routerLink="/home" class="hover:underline"> FAQ</a>
            </li>
            <li>
              <a routerLink="/contact-us" class="hover:underline">contact</a>
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-white-900 uppercase dark:text-white"
          >
            DownLoad App
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a routerLink="/home" class="hover:underline"
                ><img
                  src="./imgs/get-apple-store.png"
                  class="w-30"
                  alt="apple store"
              /></a>
            </li>
            <li class="mb-4">
              <a routerLink="/home" class="hover:underline"
                ><img
                  src="./imgs/get-google-play.png"
                  class="w-30"
                  alt="google play"
              /></a>
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-white-900 uppercase dark:text-white"
          >
            payment methods
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
             <li class="mb-4">
              <a href="#" class="hover:underline"
                ><img
                  src="./imgs/paypal.png"
                  class="w-15"
                  alt="paypal"
              /></a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline"
                ><img
                  src="./imgs/amazon-pay.png"
                  class="w-20"
                  alt="amazon"
              /></a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline"
                ><img
                  src="./imgs/mastercard.webp"
                  class="w-15"
                  alt="master card"
              /></a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline"
                ><img
                  src="./imgs/American-Express-Color.png"
                  class="w-15"
                  alt="american express"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2025
        <a routerLink="/home" class="hover:underline">OneStop™</a>.
        All Rights Reserved.
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
         <a
          routerLink="/home"
          class="text-gray-500 hover:text-blue-500 dark:hover:text-white ms-5"
        >
         <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a
          routerLink="/home"
          class="text-gray-500 hover:text-blue-500 dark:hover:text-white ms-5"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
         routerLink="/home"
          class="text-gray-500 hover:text-blue-500 dark:hover:text-white ms-5"
        >
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a
          routerLink="/home"
          class="text-gray-500 hover:text-blue-500 dark:hover:text-white ms-5"
        >
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a
         routerLink="/home"
          class="text-gray-500 hover:text-blue-500 dark:hover:text-white ms-5"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
