 <section class="w-[95%]  pt-[52px] md:w-[90%] h-[35rem] mx-auto mt-5 mb-4 rounded-lg overflow-hidden shadow-md">
    <div class="flex flex-col items-center justify-center h-full text-center pb-10">
      <img src="./imgs/tutti-many-gift-colored-boxes-1 1.png"
           class="object-contain w-48 sm:w-64 md:w-80 mx-auto"
           alt="cart image" />
      <h1 class="text-lg sm:text-xl md:text-2xl font-bold mt-5">Congratulations!</h1>
      <p class="mb-5 text-gray-400">your order has been placed and will delivered to you seen.</p>
      <app-button [title]="'Shop again!'"></app-button>
    </div>
  </section>
